@import url(boardgame.css);
@import url(form.css);
@import url(navbar.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/ressources/memory-legume/backgroundFruits.png);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

button {
    padding-left: 10px;
    padding-right: 10px;
}

a{
    margin: 10px;
    font-size: 25px;
}

h1{
    display: flex;
    justify-content: space-around;
    font-family: "Jaro", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4em;
}

.imgIntro{
    height: 40vh;
    margin: 10px;
}

.introText{
    display: flex;
    flex-direction: column;
    padding: 25px auto;
    margin: 10px auto;
    justify-content: center;
    text-align: center;
}

.boxIntro {
    width: 60vw;
    border-radius: 15px;
    padding: 10px;
    margin: 5px auto;
    text-align: center;
    background-color: #FFF;
    opacity: 0.8;
    font-size: 1.2em;
    box-shadow: 0 3px 60px rgba(57, 73, 76, 0.35);
}

.boxIntro ul{
    list-style-type: none;
}